@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 /* @apply bg-asseit-gradient text-gray-900 antialiased;*/
 background-color: 
    #f3f3f3;
    
}

a {
/*  @apply hover:text-asseitBlue transition;*/
}

/*  #ebebeb */
